@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #173540;
}

header h1 {
    background-color: #217373;
    padding: 20px;
    text-align: center;
    color: antiquewhite;
}

main {
    display: block;
    position: relative;
}

section form > legend p {
    padding: 10px;
    font-size: 2em;
    margin-left: 20px;
    font-weight: bold;
}

section form {
    display: block;
    background-color: bisque;
    border-radius: 10px;
    height: 300px;
    width: 300px;
}

form div.user {
    background-color: #173540;
    color: white;
    font-size: 1.2em;
    border: none;
    border-radius: 5px;
    padding: 12px;
    margin-top: 10px;
    margin-bottom: 1px;
}

form div.senha {
    background-color: #173540;
    font-size: 1.2em;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 12px;
    margin-bottom: 10px;
}

form div.user input[type = text] {
    border-radius: 5px;
    
}

form div#button input[type = submit] {
    display: block;
    font-size: 1.1em;
    background-color: #217373;
    border-radius: 5px;
    width: 100%;
    border: none;
    color: antiquewhite;
    padding: 3px;
    margin-bottom: 2px;
}

form div#button input[type = submit]:hover {
    background-color: lightcyan;
    color: black;
    font-style: bold;
}

form div#button a {
    display: block;
    font-size: 1.1em;
    background-color: #217373;
    border-radius: 5px;
    width: 98%;
    border: none;
    text-decoration: none;
    border-radius: 5px;
    color: antiquewhite;
    padding: 3px;
    text-align: center;
}

form div#button a:hover {
    background-color: lightcyan;
    color: black;
    font-style: bold;
}

main > div#conteiner {
    display: block;
    position: absolute;

    top: 50%;
    left: 50%;
    transform: translate(-50%, 10%);
}

main div#img {
    display: block;
    background-color: black;
    background-image: url(../imagens/pexels-login-6945926.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    width: 300px;
    border-radius: 10px;
}