@charset "UTF-8";

/* Resolução das Telas:
320px — 480px: dispositivos móveis.
481px — 768px: iPads, tablets.
769px — 1024px: telas pequenas, laptops.
1025px — 1200px: desktops, telas grandes.
1201px e acima — telas muito grandes, TVs.
-
Paleta de Cores:
azul escuro fosco: #161F30
verde escuro fosco: #173540
verde/azul fosco: #217373
*/

* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

:root {
    --cor-azul:#161F30;
    --cor-verde:#173540;
    --cor-ambos:#217373;
}

body, html {
    background-color: var(--cor-azul);
}

header {
    background-color: #18264456;
    padding: 10px;
}

header h1 {
    text-align: center;
    font-size: 3em;
    color: antiquewhite;
}

header p {
    text-align: center;
    font-size: 0.8em;
    margin-bottom: 10px;
    color: antiquewhite;
}

nav > ul > li {
    display: inline-block;
    list-style-type: none;
    padding: 10px;
    background-color: black;
    margin-bottom: 10px;
    border-radius: 5px;
}

nav > ul > li > a {
    text-decoration: none;
    color: antiquewhite;
}

nav > ul > li:hover {
    background-color: #217373;
    border-radius: 5px;
}

main {
    background-color: black;  
    margin-bottom: 20px;
    padding-bottom: 20px;
    background-image: url(../imagens/pexels-mengliu-di-3213577.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

main h2 {
    padding: 20px;
}

div#topics > section {
    display: inline-block;
    background-color: gray;
    padding: 20px;
    margin-top: 10px;
    width: 50%;
    border-radius: 10px;
    margin-left: 10px;
}

div#topics > section a {
    text-decoration: none;
}

div#topics > section ul.list {
    list-style-type: none;
    margin-bottom: 10px;
}

ul.list > li {
    text-indent: 10px;
}

ul.list > li.li2 {
    text-indent: 20px;
}

ul.list > li.li3 {
    text-indent: 30px;
}
    
aside {
    margin-bottom: 20px;
}

aside p {
    background-color: #173540;
    color: antiquewhite;
    text-indent: 10px;
    font-size: 1.1em;
    margin: auto;
    max-width: 375px;
    padding: 10px;
    border-radius: 5px;
}

strong {
    color: black;
}

footer {
    background-color: gray;
}

footer h4 {
    text-indent: 25px;
    font-size: 1.2em;
}

footer section > h5.h5redes{
    font-size: 1.2em;
    padding: 10px 10px 10px 10px;
    
}

footer p {
    text-indent: 30px;
    padding: 10px;
}

footer p.foot {
    background-color: #161F30;
    color: white;
    font-size: 0.8em;
    font-weight: bold;
    text-align: center;
    text-indent: 10px;
}

footer > section > a > img { 
    width: 50px;
    border-radius: 50%;
    margin-left: 20px;
}

footer > section > a > img:hover {
    border: 2px solid rgba(0, 0, 0, 0.322);
    box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.397);
    transition: transform 0.4s border 0.9s;
}
